/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #F5F8FA;
  font-family: 'Jost', sans-serif
}
a {
  text-decoration: none;
  color: #000;
}
i {
  color: #FF7959;
}
li {
  list-style: none;
}
hr {
  border: 1px solid black;
}
h2 {
  font-size: 30px
}
h3 {
  font-size: 20px
}
h4 {
  font-size: 15px
}
img.arrow {
  vertical-align:text-bottom;
  width: 20px;
}
#dropdown {
  position: relative;
  display: inline-block;
}
#dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 20px;
}
#dropdown-menu ul li {
  width: 100%;
  padding: 10px 0;
}
#dropdown:hover #dropdown-menu {
  display: block;
  z-index: 2
}

input[type="button"] {
  background-color: #FF7959;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #FFBCAC;
}
#animation{
  transition: all ease-out 1s
}

.container {
  width: 1100px;
  max-width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

/* navbar info */
.navbar-info {
  background: #F5F8FA;
  height: 60px;
  border-bottom: 1px solid #000
}
.navbar-info-container::after {
  content: '';
  display: table;
  clear: both;
}
.navbar-info-lang {
  float: left;
}
.navbar-info-lang li {
  line-height: 60px;
  display: inline-block;
}
.navbar-info-lang li i {
  color: gray;
  font-size: 14px
}
.navbar-info-lang li a{
  line-height: 60px;
  display: inline-block;
}
.navbar-info-lang #dropdown-menu li,
.navbar-info-lang #dropdown-menu li a {
  line-height: 0;
}
.navbar-info-sign {
  float: right;
}
.navbar-info-sign li {
  margin-left: 10px;
  line-height: 60px;
  display: inline-block;
}
.navbar-info-sign li i {
  vertical-align: middle;
  font-size: 15px;
  color: #11A3BD;
  padding: 0 10px
}
.navbar-info-sign li input{
  padding: 8px 15px;
}
.navbar-info-sign li .button-log{
  border: solid  #FF7959 1px;
  background:#F5F8FA;
  color:  #FF7959;
  padding: 8px 8px;
}
.navbar-info-sign li .button-log:hover{
  background-color: #FFBCAC;
}

/* navbar menu */
.navbar-menu {
  height: 60px;
}
.navbar-menu::after {
  content: '';
  display: table;
  clear: both;
}
.navbar-menu-img{
  position: relative;
  float: left;
  height: 100%;
}
.navbar-menu-img img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-menu-list {
  float: right;
}
.navbar-menu-item {
  padding: 0 10px;
  line-height: 60px;
  display: inline-block;
}

/* main */
/* main header */
.main-header {
  background: #FFF3EE;
}
.main-header-bg {
  background: url('../img/header/jumbotron.png');
  background-position: top right;
  background-repeat: no-repeat;
}
.main-header-content {
  padding: 100px 0 180px 0;
  width: 520px
}
.main-header-content h1{
  line-height: 50px;
  font-size: 46px;
}
.main-header-content p{
  padding: 30px 0;
}
.main-header-content input{
}
.main-header-content em{
  font-size: 13px;
  display:   block;
  padding: 30px 0 0 0;
}
.space {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  height: 80px;
  background: #AFEAE4;
}
/* sectio title */
.section-title {
  padding: 70px 150px;
  text-align: center;
}
.section-title img {
  height: 180px
}
.section-title h2 {
  padding-bottom: 20px
}

/* horizzontal card */
.h-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  padding: 40px
}
.h-card-content::after {
  content: '';
  display: table;
  clear: both;
}
.h-content-l {
  padding: 20px 50px;
  width: 30%;
  text-align: center;
  float: left;
}
.h-content-l img {
  display: block;
  height: 100px;
}
.h-content-l input {
  margin-top: 20px;
  display: block;
}
.h-content-r {
  width: 70%;
  float: left;
}
.h-content-r h3 {
  padding: 20px 0;
}
.h-content-r h4 {
  padding: 15px 0;
  text-transform: uppercase;
  display: inline-block;
}
.h-content-r hr {
  vertical-align: middle;
  display: inline-block;
  padding: 0 190px;
  margin: 0 0 0 60px;
}
.h-content-r ul {
  padding-top: 10px;
}
.h-content-r li {
  padding-right: 10px;
  display: inline-block;
}
.h-content-r i {
  padding-right: 10px;
}
/* vertical card */
.v-cards {
  margin-top: 70px
}
.v-cards::after {
  content: '';
  display: table;
  clear: both;
}
.v-cards .card {
  text-align: center;
  padding: 30px 40px;
  box-shadow: 5px 5px 5px #888888;
  float: left;
  width: 30%;
  background: #fff;
}
.v-cards .card:first-child {
  margin-right: 5%
}
.v-cards .card:last-child {
  margin-left: 5%
}
.v-cards .card img{
  height: 100px;
}
.v-cards .card h3{
  padding-bottom: 20px;
  text-transform: capitalize;
}
.v-cards .card p{
  padding-bottom: 50px
}
.v-cards .card h4{
  padding: 25px 0;
}
.v-cards .card ul li{
  line-height: 20px;
  list-style: none;
  text-align: left;
}
.v-cards .card ul li i{
  font-size: 14px;
  padding-right: 15px;
}
/* main award */
.main-award {
  margin: 50px 0;
  padding: 20px 0;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
}
.main-award-txt {
  text-align: center;
  padding: 20px 0;
}
.main-award-txt p {
  padding: 20px 0;
}
/* main award table */
.main-award-row::after {
  content: '';
  display: table;
  clear: both;
}
.main-award-row:first-child{
  border-bottom: 1px solid #fff
}
.main-award-col {
  text-align: center;
  float: left;
  width: calc(100% / 4);
  padding: 10px;
}
.main-award-col:nth-child(1) {
  border-right: 1px solid #fff;
}
.main-award-col:nth-child(2) {
  border-right: 1px solid #fff;
}
.main-award-col:nth-child(3) {
  border-right: 1px solid #fff;
}
.main-award-col h4 {
  line-height: 40px;
  font-size: 25px
}
.main-award-col span {
  padding-left: 3px;
  font-size: 20px;
  font-weight: 400;
}
.main-award-col p {
  font-size: 10px;
}
/* main advertising */
.main-adv .container:first-child {
  padding: 0 120px;
  margin-bottom: 80px;
}
.main-adv-customers::after {
  content: '';
  display: table;
  clear: both;
}
.main-adv-customers-info {
  float:left;
  width: 200px;
}
.main-adv-customers-info h3 {
  font-size: 35px;
  padding-bottom: 20px;
}
.main-adv-customers-logos {
  float: right;
}
.main-adv-customers-logos img {
  width: 120px;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
/* main grow */
.adv-grow {
  margin-top: 50px;
  margin-bottom: 30px;
}
.adv-grow::after {
  content: '';
  display: table;
  clear: both;
}
.adv-grow-txt {
  float: left;
  width: 450px;
}
.adv-grow-txt p {
  padding: 30px 0;
}
.adv-grow-txt p:last-child {
  font-size: 12px
}
.adv-grow-img {
  float: right;
}
.adv-grow-img img {
  height: 300px;
}


/* chat */
.chat {
  box-shadow: 5px 5px 10px #888888;
  text-align: center;
  height: 60px;
  width: 60px;
  background: #425A76;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.chat i {
  line-height: 60px;
  font-size: 25px;
  color: #fff;
}

/* footer */
footer {
  color: #fff;
  background: #33465B;
}
.footer-menu::after {
  content: '';
  display: table;
  clear: both;
}
.footer-menu-col {
  padding: 20px 0;
  float: left;
  width: calc(100% / 4);
}
.footer-menu-item {
  list-style:none;
}
.footer-menu-item a{
  color: lightgray;
  line-height: 30px;
  font-size: 15px;
}
.footer-menu-item h5{
  padding-bottom: 15px;
  color: #fff;
  font-size: 15px;
  list-style:none;
}
.footer-menu-item input{
  margin: 5px 0;
  color: #000;
  background: lightgray;
  padding: 10px;
}
.footer-menu-item i{
  padding-right: 20px;
  color: lightgray
}
/* footer languages */
.footer-languages {
  text-align:center;
  margin: 40px 0 15px 0  ;
}
.footer-languages ul li {
  display: inline-block;
}
.footer-languages ul li a {
  font-size: 13px;
  color: lightgray;
  padding: 0 5px;
  margin-bottom: 10px;
}
/* footer copiright */
.footer-copiright {
  padding: 30px 0;
  border-top: solid lightgray 1px;
}
.footer-copiright::after {
  content: '';
  display: table;
  clear: both;
}
.footer-copiright-info {
  float: left;
}
.footer-copiright-info img {
  height: 25px;
}
.footer-copiright-info p {
  line-height: 15px;
  font-size: 13px;
  color: lightgray;
}
.footer-copiright-legal {
  float: right;
}
.footer-copiright-legal ul li {
  display: inline-block;
  padding-left: 15px
}
.footer-copiright-legal ul li a {
  font-size: 13px;
  color: lightgray;
}
