/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Jost', sans-serif
}
a {
  text-decoration: none;
  color: #000;
}
input[type="button"] {
  background-color: #FF7959;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #FFBCAC;
}
#animation{
  transition: all ease-out 1s
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}


/* header */


/* navbar info */
.navbar-info {
  background: #F5F8FA;
  height: 60px;
  border-bottom: 1px solid #000
}
.navbar-info-container::after {
  content: '';
  display: table;
  clear: both;
}
.navbar-info-lang {
  float: left;
}
.navbar-info-lang li {
  line-height: 60px;
  display: inline-block;
}
.navbar-info-lang li a{
  line-height: 60px;
  display: inline-block;
}
.navbar-info-sign {
  float: right;
}
.navbar-info-sign li {
  margin-left: 10px;
  line-height: 60px;
  display: inline-block;
}
.navbar-info-sign li input{
  padding: 8px 8px;
}
.navbar-info-sign li .button-log{
  border: solid  #FF7959 1px;
  background:#F5F8FA;
  color:  #FF7959;
  padding: 8px 8px;
}
.navbar-info-sign li .button-log:hover{
  background-color: #FFBCAC;
}

/* navbar menu */
.navbar-menu {
  height: 60px;
}
.navbar-menu::after {
  content: '';
  display: table;
  clear: both;
}
.navbar-menu-img{
  position: relative;
  float: left;
  height: 100%;
}
.navbar-menu-img img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-menu-list {
  float: right;
}
.navbar-menu-item {
  padding: 0 10px;
  line-height: 60px;
  display: inline-block;
}

/* main */

.main-header {
  background: url('../img/header/jumbotron.png');
}
.main-header-content {
  width: 520px

}
.main-header-content h1{
  line-height: 50px;
  font-size: 46px;
  padding-bottom: 30px;
}

.space {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  height: 70px;
  background: gold;
}

.main-section {
  height: 500px;
  background: gray;
}
.main-award {
  height: 500px;
  background: linear-gradient(blue , black);
}
.main-adv {
  height: 500px;
  background: gray;
}

/* footer */
footer {
  background: lightgray;
}
.footer-languages {
  border-bottom: solid green 2px
}
.footer-copiright {
     height: 30px;
}
