/* general settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #F5F8FA;
  color: #33465B;
  font-family: 'Jost', sans-serif;
}
a {
  text-decoration: none;
  color: #33465B;
}
li {
  list-style: none;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 17px
}
p {
  font-weight: normal;
  line-height: 1.8;
  font-size: 16px;
  margin: 30px 0;
}
em {
  font-style: normal;
  display: block;
  font-size: 14px;
  padding-top: 30px;
}
img.arrow {
  position: relative;
  top: 6px;
  width: 20px;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 1100px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

/* dropdown menu */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 2px 5px 8px rgba(0,0,0,0.3);
  padding: 0 20px;
}
.dropdown-menu ul li {
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 2
}

/* buttons */
input[type="button"] {
  transition: all ease-out 1s;
  background-color: #FF7959;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 20px 35px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color: #FFBCAC;
}

/* navbar info */
.navbar-info {
  box-shadow: 0px 6px 15px rgba(0,0,0,0.3);
  position: fixed;
  z-index: 5;
  width: 100%;
  background: #F5F8FA;
  height: 60px;
  border-bottom: 1px solid #000
}
.navbar-info-lang {
  float: left;
}
.navbar-info-lang hr {
  border: solid 1px #808080;
  margin: 0 20px;
  height: 20px;
  display: inline;
}
.navbar-info-lang li {
  line-height: 60px;
  display: inline-block;
}
.navbar-info-lang li i {
  padding-right: 2px;
  color: #33465B;
  font-size: 14px
}
.navbar-info-lang li a {
  line-height: 60px;
  display: inline-block;
}
.navbar-info-lang .dropdown-menu li,
.navbar-info-lang .dropdown-menu li a {
  line-height: 0;
}
.navbar-info-sign {
  float: right;
}
.navbar-info-sign ul li {
  margin-left: 10px;
  line-height: 60px;
  display: inline-block;
}
.navbar-info-sign ul li i {
  color: #09A3BD;
}
.navbar-info-sign ul li input[type=text] {
  background: #F5F8FA;
  border:0;
  width: 0;
}
.navbar-info-sign ul li button {
  font-size: 15px;
  background: #F5F8FA;
  line-height:59px;
  border:none;
  float: right;
  color: white;
  cursor: pointer;
}
.navbar-info-sign ul li button:focus + input[type=text] {
  margin-right: 20px;
  display:inline-block;
  padding: 10px;
  border-radius: 20px;
  border:1px solid gray;
  width: 200px;
}
.navbar-info-sign li input {
  padding: 8px 15px;
}
.navbar-info-sign li .button-log {
  transition: all ease-out 1s;
  border: solid  #FF7959 1px;
  background:#F5F8FA;
  color:  #FF7959;
  padding: 8px 8px;
}
.navbar-info-sign li .button-log:hover {
  transition: all ease-out 1s;
  background-color: #FFBCAC;
}

/* navbar menu */
.navbar-menu {
  height: 130px;
  padding-top: 60px;
}
.navbar-menu .dropdown-menu {
  padding: 15px 20px;
  white-space: nowrap;
  /* withe space non fa wrappare il testo */
}
.navbar-menu-img {
  position: relative;
  float: left;
  height: 100%;
}
.navbar-menu-img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-menu-list {
  line-height: 70px;
  float: right;
}
.navbar-menu-item {
  padding: 0 10px;
  line-height: 60px;
  display: inline-block;
}

/* main */
main i {
  color: #FF7959;
}

/* main header */
.main-header {
  position:relative;
  background: linear-gradient(#FFF2ED, #FEF8EF);
}
.main-header::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  height: 80px;
  background: #AFEAE4;
}
.main-header-bg {
  background: url('../img/header/jumbotron.png');
  background-position: top -15px right;
  background-repeat: no-repeat;
}
.main-header-content {
  height: 680px;
  padding-top: 70px;
  width: 540px;
  max-width:100%;
}
.main-header-content h1 {
  line-height: 50px;
  font-size: 50px;
}

/* section title */
.section-title {
  width: 800px;
  max-width: 100%;
  margin: 40px auto;
  text-align: center;
}
.section-title img {
  height: 180px
}
/* horizzontal card */

.h-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  padding: 40px 30px;
}
.h-content-l {
  padding: 20px 50px;
  width: 30%;
  text-align: center;
  float: left;
}
.h-content-l img {
  display: inline-block;
  height: 100px;
}
.h-content-l input {
  margin-top: 20px;
  display: inline-block;
}
.h-content-r {
  width: 70%;
  float: left;
  padding-right: 50px;
}
.h-content-r h4 {
  background: #fff;
  position: relative;
  text-transform: uppercase;
}
.h-content-r h4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background: #33465B;
}
.h-content-r h4 span {
  position: relative;
  background: #fff;
  display: inline-block;
  width: 35%;
}
.h-content-r li {
  margin-top: 30px;
  margin-right: 15px;
  display: inline-block;
}
.h-content-r i {
  margin-right: 15px;
}
/* vertical card */

.v-cards {
  margin-top: 70px
}
.v-cards .card {
  text-align: center;
  border-radius: 8px;
  padding: 30px 40px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
  float: left;
  width: 30%;
  background: #fff;
}
.v-cards .card:first-child {
  margin-right: 5%
}
.v-cards .card:last-child {
  margin-left: 5%
}
.v-cards .card img {
  height: 100px;
}
.v-cards .card h3 {
  padding-top: 10px;
  text-transform: capitalize;
}
.v-cards .card hr {
  margin: 40px 0 5px 0;
  border: solid #33465B 1px
}
.v-cards .card h4 {
  padding: 25px 0;
}
.v-cards .card ul li {
  text-align: left;
  line-height: 18px;
}
.v-cards .card ul li i {
  font-size: 14px;
  padding-right: 15px;
}
.v-cards .card input[type=button] {
  margin-top: 50px;
  margin-bottom: 0;
}

/* main award */
.main-award {
  margin: 60px 0;
  padding: 20px 0 40px 0;
  background: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
}
.main-award-txt {
  text-align: center;
  padding: 20px 0;
}

/* main award table */
.main-award-row:first-child {
  border-bottom: 1px solid #fff
}
.main-award-col {
  text-align: center;
  float: left;
  width: calc(100% / 4);
  padding: 20px;
}
.main-award-col:nth-child(1) {
  border-right: 1px solid #fff;
}
.main-award-col:nth-child(2) {
  border-right: 1px solid #fff;
}
.main-award-col:nth-child(3) {
  border-right: 1px solid #fff;
}
.main-award-col h4 {
  line-height: 55px;
  font-size: 40px;
}
.main-award-col span {
  font-size: 22px;
  font-weight: normal;
  position: relative;
  left: 5px;
  bottom: 8px;
}
.main-award-col p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}

/* main advertising */
.main-adv .container:first-child {
  width: 850px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
}
.main-adv-customers-info {
  float:left;
  width: 20%;
}
.main-adv-customers-info h3 {
  font-size: 35px;
}
.main-adv-customers-logos {
  margin-top: 10px;
  float: right;
}
.main-adv-customers-logos img {
  width: 100px;
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
}

/* main grow */
.adv-grow-txt {
  float: left;
  width: 450px;
}
.adv-grow-img {
  float: right;
}
.adv-grow-img img {
  height: 350px;
}

/* chat */
.chat {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
  text-align: center;
  height: 60px;
  width: 60px;
  background: #425A76;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.chat:hover {
  transition: all ease-out 1s;
  cursor: pointer;
  border: solid #76C2D0 1px
}
.chat i {
  line-height: 60px;
  font-size: 25px;
  color: #fff;
}
.chat .hover-message {
  width: 200px;
  display: none;
  padding: 30px;
  background: #F5F8FA;
  box-shadow: 0px 0px 6px rgba(51, 70, 91, 0.3);
  border-radius: 20px;
  position: absolute;
  bottom: 70px;
  right: 20px;
}
.chat .hover-message h4 {
  color: #425A76;
  font-size: 16px;
  padding: 10px 5px;
}
.chat .hover-message p {
  color: #425A76;
  font-size: 13px;
  padding: 10px 0;
  margin: 0;
}
.chat:hover .hover-message {
  display: block;
}

/* footer */
footer {
  color: #fff;
  background: #33465B;
  margin-top: 80px;
}
.footer-menu-col {
  padding: 30px 0;
  float: left;
  width: calc(100% / 4);
}
.footer-menu-item h5 {
  font-size: 17px;
  padding-bottom: 15px;
  color: #fff;
}
.footer-menu-item a {
  transition: all ease-out 1s;
  color: lightgray;
  line-height: 30px;
  font-size: 15px;
}
.footer-menu-item i {
  padding-right: 20px;
  color: lightgray
}
.footer-menu-item a:hover {
  transition: all ease-out 1s;
  color: #76C2D0;
}
.footer-menu-item a .fa-instagram:hover {
  transition: all ease-out 1s;
  background: -webkit-linear-gradient(left, #ffdf9e, #ffc273, #e56969, #c1558b, #8a49a1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-menu-item a .fa-facebook-f:hover {
  transition: all ease-out 1s;
  color: #3b5998;
}
.footer-menu-item a .fa-youtube:hover {
  transition: all ease-out 1s;
  color: #FF0000;
}
.footer-menu-item a .fa-twitter:hover {
  transition: all ease-out 1s;
  color: #00acee ;
}
.footer-menu-item a .fa-linkedin:hover {
  transition: all ease-out 1s;
  color: #0e76a8;
}
.footer-menu-item input {
  transition: all ease-out 1s;
  margin: 10px 0;
  color: #000;
  background: lightgray;
  padding: 10px;
}
.footer-menu-item input:hover {
  background: #76C2D0;
}

/* footer languages */
.footer-languages {
  text-align:center;
  margin: 40px 0 15px 0  ;
}
.footer-languages ul li {
  display: inline-block;
}
.footer-languages ul li a {
  transition: all ease-out 1s;
  font-size: 13px;
  color: lightgray;
  padding: 0 5px;
  margin-bottom: 10px;
}
.footer-languages ul li a:hover {
  transition: all ease-out 1s;
  color: #76C2D0;
}

/* footer copiright */
.footer-copiright {
  padding: 25px 0;
  border-top: solid lightgray 1px;
}
.footer-copiright-info {
  float: left;
}
.footer-copiright-info img {
  height: 25px;
}
.footer-copiright-info p {
  margin: 0;
  line-height: 15px;
  font-size: 13px;
  color: lightgray;
}
.footer-copiright-legal {
  float: right;
}
.footer-copiright-legal ul li {
  padding-left: 15px
}
.footer-copiright-legal ul li a {
  transition: all ease-out 1s;
  font-size: 13px;
  color: lightgray;
}
.footer-copiright-legal ul li a:hover {
  transition: all ease-out 1s;
  color: #76C2D0;
}
